.cabecalho{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.titulo{
    color: black;
    text-align: center;
}
.subtitulo{
    color: black;
    text-align: center;
}
 .primeira-parte{
    text-align: right;
 }
 .parte-principal{
    text-align: left;
    font-size: 30;
 }